<html>
    <head>
        <link rel="stylesheet" href="../collaboration/static/css/style.css">
        <title> collaboration work</title>
    </head>
    <body>
        
            <div class="register-div">
                <h1>Please Register❤️</h1>
                <form action="/reg_data" method="post">
                    <label>name</label>
                    <input type="text" required placeholder="Enter Name" name="u_name">
                    <label>phone-number</label>
                    <input type="number" required placeholder="Enter phone" name="u_num">
                    <label> email</label>
                    <input type="email"  required placeholder="Enter email" name="u_email">
                    <label>password</label>
                    <input type="password" requuired placeholder="Enter password" name="u_pwd">
                    <button id = "reg_btn" type="submit">Register❤️</button>
                    </form>
                
            </div>
            <script src="../collaboration/static/js/style.js"></script>

        
    </body>
</html>