<html>
    <head>

        <title> collaboration work</title>
        <link rel="stylesheet" href="../collaboration/static/css/style.css">
    </head>
    <body>
        
            <div class="register-div">
                <h1>Please Register❤️</h1>
                <form action="/reg" method="post">
                    <label>name</label>
                    <input type="text"  required placeholder="Enter Name" name="u_name">
                    <label>phone number</label>
                    <input type="number"  required placeholder="Enter phone" name="u_num">
                    <label> email</label>
                    <input type="email" required placeholder="Enter email" name="u_email">
                    <label>password</label>
                    <input type="password" requuired placeholder="Enter password" name="u_pwd">
                    <button type="submit">Register❤️</button>
                    <script src="../collaboration/static/js/style.js"></script>
                
            </div>
        
    </body>
</html>